@model ERPsystemproj.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Details</title>
</head>
<body>
    <style>
        body {
            margin: 0;
            font-family: "Lato", sans-serif;
        }

        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: darkblue;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

            .sidebar a {
                display: block;
                color: white;
                padding: 16px;
                text-decoration: none;
            }

                .sidebar a.active {
                    background-color: lightcyan;
                    color: black;
                }

                .sidebar a:hover:not(.active) {
                    background-color: #555;
                    color: white;
                }

        div.content {
            margin-left: 200px;
            padding: 1px 16px;
            height: 1000px;
        }
    </style>
    <div class="sidebar">
        <header style="color:white;padding-bottom:35px;padding-top:35px;font-size:large; padding-left:20px;padding-right:20px">Rontera</header>
        <a href="#home">Dashboard</a>
        <a href="../../Customers/Index" >Customer</a>
        <a href="../../Orders/Index" class="active">Order</a>
        <a href="../../Payments/Index">Payment</a>
        <a href="../../Storages/Index">Storage</a>
    </div>
    <div class="content">
        <div>
            <h4>Order</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.createddate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.createddate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.modifiedBy)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.modifiedBy)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.quantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Customer_customerId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Customer_customerId)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.orderId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>
</body>
</html>
